{{ 'landing-page.css' | asset_url | stylesheet_tag }} 

<style>
  
.accordion {	
	color: #444;
	cursor: pointer;
	padding: 22px 18px 24px 0px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
    font-family: AvenirLight;
    font-size: 22px;
}

.accordion:last-of-type {
	border-bottom: 0;
}
.accordion:after {
	content: "\002B";
	color: #777;
	font-weight: 700;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
.panel {
	padding: 0px 18px 0px 0px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.panel p{
  font-size: 15px;
}
.custom_accordian{
  margin-top: 15px;
}
</style>

<div class="landing_block product__wrapper">
<div class="custom_accordian">
	<button class="accordion">{{ section.settings.accordian_1 }}</button>
	<div class="panel">
		<p>{{ section.settings.code }}</p>
	</div>

	<button class="accordion">{{ section.settings.accordian_2 }}</button>
	<div class="panel">
		<p>{{ section.settings.acco_content_2 }}</p>
	</div>

	<button class="accordion">{{ section.settings.accordian_3 }}</button>
	<div class="panel">
		<p>{{ section.settings.acco_content_3 }}</p>
	</div>

    <button class="accordion">{{ section.settings.accordian_4 }}</button>
  	<div class="panel">
  		<p>{{ section.settings.acco_content_4 }}</p>
  	</div>
  
    <button class="accordion">{{ section.settings.accordian_5 }}</button>
  	<div class="panel">
  		<p>{{ section.settings.acco_content_5 }}</p>
  	</div>
</div>
</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>                                                                                                                                            


{% schema %}
{
  "name": "Landing Page Accordian",
  "settings": [     
      {
          "type": "text",
          "id": "accordian_1",
          "label": "Accordian 1"
        },
      {
        "type": "liquid",
        "id": "code",
        "label": "Custom code"
      },
    {
      "type": "text",
      "id": "accordian_2",
      "label": "Accordian 2"
    },
    {
      "type": "textarea",
      "id": "acco_content_2",
      "label": "Second Content"    
    },
    {
          "type": "text",
          "id": "accordian_3",
          "label": "Accordian 3"
        },
     {
      "type": "textarea",
      "id": "acco_content_3",
      "label": "Third Content"    
    },
    {
          "type": "text",
          "id": "accordian_4",
          "label": "Accordian 4"
        },
     {
        "type": "liquid",
        "id": "acco_content_4",
        "label": "Custom code"
      },    
    {
          "type": "text",
          "id": "accordian_5",
          "label": "Accordian 5"
        },
     {
      "type": "textarea",
      "id": "acco_content_5",
      "label": "Fifth Content"    
    }    
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Landing Page Accordian"
    }
  ]  
}
{% endschema %}