<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<style>
      .landing_bottom_slider .swiper-container {
        width: 100%;
        height: 100%;
      }
      .landing_bottom_slider .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .landing_bottom_slider .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .main-content{
        min-height: 0;
      }
  .landing_bottom_slider .swiper-pagination{
  position: relative !important;
  bottom: 0 !important;
} 
  .landing_bottom_slider .swiper-pagination-bullet-active{
    background: #000 !important;
  }
  .product-image-content{
    text-align: left;
  }
  .product-image-content h6{
    text-align: left;
  font-size: 16px;
  font-family: AvenirLight;
  }
  .product-image-content p{
    text-align: left;
  font-weight: bold;
  font-size: 14px;
    color: var(--text-light);
  }
  .landing_slider h2{
    font-style: italic;
  text-align: center;
  padding-bottom: 15px;
  }
  @media only screen and (min-width: 990px){
          .landing_slider{
       margin: 0 auto;
        width: 1400px;
        margin-bottom: 57px;
      }
  }
</style>

<div class="product__wrapper">
<div class="landing_slider">
  <div class="wrapper--full-padded">
    <h2>{{ section.settings.pro-title }}</h2>
  </div>  
  <div class="swiper landing_bottom_slider">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% assign product-image = all_products[block.settings.product-image] %}
          {% assign block_first_variant3 = product-image.selected_or_first_available_variant %}
          {% assign featured_img_src3 = block_first_variant3.featured_img.src | default: product-image.featured_image.src %}
        <div class="swiper-slide">  
           {% if block.settings.product-image != blank %}
            <a href="{{ product-image.url }}">
              {% if block.settings.custom-img2 != blank %}
                <img class="" src="{{ block.settings.custom-img2 | img_url: 'master' }}" alt="{{ block.settings.custom-img2.alt }}" />
              {% else %}
                <img class="" src="{{ featured_img_src3 | img_url: '' }}" alt="{{ product.featured_img3.alt }}" />
              {% endif %}   
              <div class="product-image-content">
                <h6>{{ product-image.title }}</h6>   
                <p>{{ product-image.variants.first.price | money_without_trailing_zeros }}</p>  
              </div>
            </a>
          {% endif %}           
        </div>         
          {% endfor %}      
      </div>
    <!-- <div class="swiper-pagination"></div>     -->
  </div>  
  <!-- <form action="/cart/add" method="post" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input type="submit" value="Add to Cart" />
</form> -->  
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.landing_bottom_slider', {
      // slidesPerView: 4,
      spaceBetween: 20,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
       pagination: {
        el: ".swiper-pagination",
        clickable: true
    },
      breakpoints: {            
             990: {
                slidesPerView: 4
            },
            320: {
                slidesPerView: 1.2
            }
        }
    });
  });
</script>


{% schema %}
{
  "name": "Landing Scroll",
  "settings": [
      {
        "type": "text",
        "id": "pro-title",
        "label": "Product Title"
      }      
  ],
  "blocks": [
    {
        "name": "Choose product",
        "type": "Product",
        "settings": [     
          {
              "type": "product",
              "id": "product-image",
              "label": "Product Image"
            },
          {
              "type": "image_picker",
              "id": "custom-img2",
              "label": "Custom Image"
            },
          {
              "type": "url",
              "id": "url",
              "label": "Image Url"
            }
        ]
     }   
  ],
  "presets": [
    {
      "name": "Landing scroll"
    }
  ]  
}
{% endschema %}